{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Teacher Search
{% endblock %}

{% block styles %}
{{super()}}

{% endblock %}

{% block content %}
    <div class="container">
        <form method='POST' action="/search">
            <h2 class="form-signin-heading">Teacher's Code</h2>
            <input type="text" class="form-control" name="tag" placeholder="code"
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </form>
    </div> <!-- /container -->
{% endblock %}
